<div class="mcontainer">
    <h1>Create your meeting!</h1>
        <form novalidate class="form ">
            <div class="input-group">
                <label for="name">Name:</label>
                <input id="name" type="text" class="form-control" ng-model="meeting.name" required />
            </div>
            <div class="input-group">
                <label for="desc">Name:</label>
                <input id="desc" type="text" class="form-control" ng-model="meeting.description" required />
            </div>
            <div class="input-group">
                <label for="wh">Name:</label>
                <input id="wh" type="text" class="form-control" ng-model="meeting.where" required />
            </div>
            <div class="input-group">
                <button class="btn btn-xlarge btn-success beton" ng-click="create(meeting)">Submit</button>
            </div>
        </form>
    <div class="clearfix"></div>
    <h3>You can specify preferred hours</h3>
    <br />
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendar"></div>
    <!--{{ time_ranges }}-->
</div>
