<div class="mcontainer">
    <h1 class="pull-left">Meetings</h1>
    <a href="/#/meetings/createMeeting" class="btn btn-success beton pull-right">Create Meeting</a>
    <div class="clearfix"></div>
    <accordion close-others="false">
        <accordion-group heading="{{meeting.name}}" ng-repeat="meeting in meetings">
            <table class="table table-striped">
                <tr>
                    <td>Description: {{meeting.description}}</td>
                    <td>Begin: {{meeting.start_time}}</td>
                    <td>End: {{meeting.end_time}}</td>
                </tr>
            </table>
        </accordion-group>
    </accordion>
</div>