<div class="mcontainer">
    <h1 class="pull-left">Teams</h1>

    <a href="/#/teams/createTeam" class="btn btn-success beton pull-right">Create Team</a>
<div class="clearfix"></div>
<div>
    <table class="table table-striped" >
        <tr ng-repeat="team in pending_invitations">
            <td> <a href="/#/api/v1/teams/{{team.id}}/invitation/accept"> YES </a></td>
            <td> <a href="/#/api/v1/teams/{{team.id}}/invitation/reject"> NO </a> </td>
        </tr>
    </table>
</div>
<div>
    <accordion close-others="false">
        <accordion-group heading="{{team.name}}" ng-repeat="team in my_teams">
            <table class="table table-striped">
                <tr>

                    <td>  </td>
                    <td> <select id="users" ng-model="user" class="form-control" ng-options="user as user.email for user in users"></select> </td>
                    <td><button class="btn btn-success beton pull-right" ng-click="add_member(team,user)">Add Members</button></td>
                </tr>
                <tr>
                <td>Members</td>
                </tr>
                <tr ng-repeat="member in team.members">
                <td>{{member.email}}</td>
                <td>{{member.first_name}} {{member.last_name}}</td>
                <td></td>
                </tr>
            </table>
        </accordion-group>
    </accordion>
</div>
</div> 