  <h1>Teams</h1>

  <a href="/teams/createTeam" class="btn btn-primary">Create Team</a>

  <accordion close-others="false">
        <accordion-group heading="{{team.name}}" ng-repeat="team in my_teams">
            <table class="table table-striped">
                <tr>
                    <td> ID: </td>
                    <td> {{team.id}} </td>
                    <td> URL </td>
                    <td> {{team.url}} </td>
                </tr>
            </table>
        </accordion-group>
    </accordion>
