    <p><a href="#/meetings/" class="btn btn-primary">Meetings</a>
      <a href="#/teams/" class="btn btn-primary">Teams</a>
    </p>
    <div class="viewport" ng-view>

      Loading data...

    </div>
