    <style type="text/css">
      div.viewport {
        width: 100%;
        height: 90%;
        position: relative;
        background-color: #000000;
      }

      div.viewport div {
        width: 100%;
        height: 100%;
        position: relative;

        color: #000000;
        font-weight: bold;
        font-size: 12px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      div.meetings {
        background-image: url(/common/Meetings.jpg);
      }
      
      div.teams {
        background-image: url(/common/Teams.jpg);
      }

    </style>

    <p><a href="#/meetings/" class="btn btn-primary">Meetings</a>
      <a href="#/teams/" class="btn btn-primary">Teams</a>
    </p>
    <div class="viewport" ng-view>

      Loading data...

    </div>
