// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mcontainer {
  width: 75%;
  margin: 15px auto;
  padding: 5px 20px;
//  border-radius: 20px;
//  box-shadow: 0 0 80px -50px #BBBBBB;
  background: #F7F7F7;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 60px -45px #BBBBBB;
  -moz-box-shadow: 0 0 60px -45px #BBBBBB;
  box-shadow: 0 0 60px -45px #BBBBBB;
}

.beton {
  margin: 8px 0 8px 0;
}