<li ng-show="!current_user.email"><a href="#/login">Log in</a></li>
<li ng-show="!current_user.email"><a href="#/register">Register</a></li>
<li ng-show="current_user.email"><a href="#" ng-click="logout()">Log out</a></li>
<li ng-show="current_user.email"><a href="#/teams/my">Teams</a></li>
<li ng-show="current_user.email"><a href="#/meetings">Meetings</a></li>